<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

	<div class="row">
	<h4> Edit Your Story </h4>
	<form class="col s12" action="/stories?_method=PUT" method="post">
	<%- include('../partials/createStory') %>
	</form>
	</div>
</body>
</html>
