
     <div class="card">
       <div class="card-content">
         <span class="card-title"><i class="fa fa-book-open-reader bookIcon"></i>StoryBooks</span>
         <p>Share your own story and thoughts.</p>
       </div>
       <div class="card-action">
         <a href="/auth/gauth" class="red lighten-1 btn">
          <i class="fa-brands fa-google left"></i> 
          Continue with Google</a>
       </div>
     </div>
