<div class="card p-3">
    <div class="card-body">
      <h5 class="card-title">Welcome to github login..</h5>
      <p class="card-text">A platform where developers reside.</p> 
    <a href="/auth/callback/gitauth" class="btn btn-github">Login to continue.</a>
    </div>
  </div>