<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="css/style.css" title="" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" title="" type="text/css" />
</head>
<body>
	<div class="container">
	<div class="row">
	<form action="/articles" method="post" class="col-s12">

	<%- include('./partials/form') %>
	<form>
	</div>
	</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>  


</body>
</html>	

